[submodule "platforms/android/assets/www/apps"]
	path = platforms/android/assets/www/apps
	url = https://github.com/bcsphere/apps
[submodule "platforms/android/assets/www/framework"]
	path = platforms/android/assets/www/framework
	url = https://github.com/bcsphere/framework
[submodule "platforms/ios/BCSphere/www/framework"]
	path = platforms/ios/BCSphere/www/framework
	url = https://github.com/bcsphere/framework
[submodule "platforms/ios/BCSphere/www/apps"]
	path = platforms/ios/BCSphere/www/apps
	url = https://github.com/bcsphere/apps
